<form layout="row" name="OpenModal" role="form">
	<div flex="33" flex-offset="33" layout="column">
		<br><br><br>
		<md-button class="md-accent md-raised" ng-click="vm.showModal()">
			Add holmes
		</md-button>
	</div>
</form>
<section flex="33" flex-offset="33" layout="columm">
	<md-list>
		<md-list-item class="md-3-line" ng-repeat="person in vm.people">
			<img ng-src="{{person.face}}?{{$index}}" class="md-avatar"/>
			<div class="md-list-item-text" layout="column">
				<h3>{{ person.name }}</h3>
				<h4>{{ person.age }}</h4>
			</div>
		</md-list-item>
	</md-list>
</section>

<section>

</section>