<md-dialog flex="50" aria-label="PeopleModal">
	<form ng-cloak ng-submit="$event.preventDefault()" name="formToValidate" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add dem foos</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.closeModal()">
					<md-icon md-svg-src="resources/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content >
			<div>
				<div flex="60" flex-offset="20" layout="column">
					<md-input-container>
						<label> Name: </label>
						<input type="text" ng-model="vm.person.name" name="name" required>

						<div ng-messages="formToValidate.name.$error">
							<div ng-message="required">
								Campo obligatorio
							</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label> Age: </label>
						<input type="number" ng-model="vm.person.age" name="age" min="15" max="50" required>

						<div ng-messages="formToValidate.age.$error">
							<div ng-message="required">
								Campo obligatorio
							</div>
							<div ng-message="min">
								La edad mínima es 15 años
							</div>
							<div ng-message="max">
								Edad máxima: 50 años
							</div>
						</div>
					</md-input-container>

					<md-list>
						<md-list-item class="md-3-line">
							<md-input-container>
								<label> Face (URL): </label>
								<img ng-src="{{ vm.person.face }}" class="md-avatar "/>
								<input type="url" ng-model="vm.person.face" name="face" required>
								<div ng-messages="formToValidate.face.$error">
									<div ng-message="required">
										Campo obligatorio
									</div>
								</div>
							</md-input-container>
						</md-list-item>
					</md-list>

				</div>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-accent md-raised" ng-click="vm.closeModal()">
				Nah Brah
			</md-button>
			<md-button class="md-primary md-raised" ng-disabled="formToValidate.$invalid" ng-click="vm.postPeople(vm.person)" >
				Aight
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>